
.admin button {
  background-color: #2563eb;
  color: white;
  padding: 0.75rem;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 2rem;
}

.admin button:hover {
  background-color: #1d4ed8;
}
.admin input
 {
    
  padding: 0.6rem 0.8rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1.5px solid #ccc;
  margin: 0.5rem 1rem ;
  transition: border-color 0.3s;
}
.admin .inputs{
    
    display: flex;
    align-items: center;
    border-bottom: solid rgb(223, 199, 225) 2px;
    padding: 1rem 0; /* opcional para dar espacio */
    flex-wrap: wrap; /* por si el contenedor es muy chico */
}
.admin .botonEliminar{
  background-color:red;
}
.admin .botonCrear{
  background-color:green;
}
.admin .botonEliminar:hover{
  background-color:rgb(156, 1, 1);
}
.admin .botonCrear:hover{
  background-color:rgb(0, 67, 0);
}