.home-container {
  padding: 2em;
  color: #222;
}

.bienvenida {
  text-align: center;
  margin-bottom: 2em;
}

.bienvenida h1 {
  font-size: 2.5em;
  color: #1a1a40;
}

.bienvenida p {
  font-size: 1.1em;
  margin-top: 0.5em;
  color: #444;
}

.imagenes-home {
  display: flex;
  justify-content: center;
  gap: 2em;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.imagen-box {
  width: 200px;
  text-align: center;
  
}

.imagen-box img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  object-fit: cover;
  padding: 1em;
  background-color: white;
  cursor:pointer;
  transition: 0.2s;
}
.imagen-box img:hover {
  transform: scale(1.1,1.1);
}

.imagen-box p {
  margin-top: 0.5em;
  font-size: 0.95em;
  color: #333;
}

.info-adicional {
  text-align: center;
  margin-top: 2em;
}

.info-adicional h2 {
  font-size: 1.8em;
  margin-bottom: 1em;
  color: #1a1a40;
}

.info-adicional ul {
  list-style: none;
  padding: 0;
}

.info-adicional li {
  margin: 0.5em 0;
  font-size: 1.1em;
}
