@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}
.app .link{
  color: #f3f4f6; 
  margin: auto 10px;
  font-size: 1.5em;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.2s ease;
  font-weight: bolder;
  
}
.app .link:hover{
  color: #ee8282;
}
.app nav, .app footer{
  display: flex;
  justify-content: space-between;
  background-color: #303050; 
  height: 3.5em;
  
}
.app footer div{
  margin:auto;
}
.app footer *{
  color:white;
  font-size: x-large;
  margin-inline-start: 10px;
}
.app .navBar{
  height: 100%;
  display: flex;
  align-items: center;
}
.app .boton-cerrar-sesion{
  background-color: #303050;
  transition: color 0.2s ease;
  font-family: inherit;
  font-size: 1.5em;
  font-weight: 200;
  color: #ed5d5d;
}

.app .boton-cerrar-sesion:hover{
  background-color: #303050;
  color: #ee8282;
}
.app  .busqueda{
  height: 2em;
  margin:auto;
  border-radius: 10px;
  width: 40%;
  
}
